div {
    background-color: #49e;
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}

/* A */

#caja2 {
    position: relative;
    left: 50%;
}

/* B */

#caja3 {
    position: absolute;
    bottom: 20px;
    left: 70px;
}

/* C */

#caja1 {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

#caja2 {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

#caja3 {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

#caja4 {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

/* D */

#caja1 {
    position: absolute;
    left: 50%;
    top: 0%;
}

#caja2 {
    position: absolute;
    right: 0%;
    left: auto;
    bottom: 50%;
}

#caja3 {
    position: absolute;
    left: 50%;
    bottom: 0%;  
}

#caja4 {
    position: absolute;
    left: 0%;
    bottom: 50%;
}

#padre, body {
    width: 100%;
    height: 100vh;
}

